.section{
    padding:4rem;
    width:100vw;
    height:90vh;
    box-sizing: border-box;
}

.buttons{
    margin-top:8rem;
    display:flex;
    width:50%;
    height: 50px;
    position:relative;
    z-index: 10;
}